$mdc-layout-grid-max-width: 1024px;
$mdc-theme-primary: #212121;
$mdc-theme-secondary: #484848;
@import "material-components-web/material-components-web";

html, body {
  margin: 0px;
  padding: 0px;
}
